body {
    background-color: rgb(50, 112, 112);
}

h1 {
    text-align: left  ;
    color: white;
}
p
{
    padding: 3px;
}
h2
{
    text-align: left;
    color: white;
}

.content
{
 
    display:inline-block; 
    vertical-align:center; 
    margin-right:10px; 
    padding:0; 
    width: 75%;
    margin: 10px;
}

.content_left
{
       
    background-color: rgb(39, 175, 175);
    display:table-cell; 
    vertical-align:left; 
  
    background-size:100%;
    margin: 10px 10px 10px 10px;
    padding: 0px 100px 10px 10px   ;
    border-radius: 10px;    
}
.content_right
{
    
    background-color: rgb(29, 128, 98); 
    border-radius: 10px;
    display:table-cell; 
    vertical-align:middle; 
    padding: 50px 100px 0px 100px   ;
    margin: 10px 10px 10px 10px;
}

.img
{
    width: 60% ;
    margin: 5px 0px 0px 0px;
    border-radius: 10px;
}
.img1
{
    width: 200px ;
    border-radius: 10px;
    margin-left: 800px;
}


.container {
   
}
.container-2 {
    
    margin-left: 800px;
}

.container-3 {

    background-color: black;
    border: solid white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.block {
    background-color: whitesmoke;
    width: 200px;
    height: 200px;
    text-align: center;
    margin-left: 800px;
    
}
.block-2 {
    background-color:bisque;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.block-3 {
    background-color:darkgoldenrod;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border: solid red;
}

.block4_1 {
    width: 200px;
    height: 200px;
    background-color: none;
    border: solid red;
    position: relative;
    top: 100px;
    left: 100px;
}

.block4_2{
    width: 200px;
    height: 200px;
    background-color: none;
    border: solid blue;
    position: relative;
    top: 50px;
    left: 250px;
}
.block4_3 {
    width: 200px;
    height: 200px;
    background-color: none;
    border: solid green;
    position: relative;
    top: 0px;
    left: 400px;
}

.tmp {
    margin-top: 50px;
    width: 700px;
    height: 700px;
    background-color: aliceblue;
}